<ul>
  <li><a>Library Management System</a></li>
  <li style="margin-left: 100px">
    <a (click)="view()">View Profile&nbsp;&nbsp;&nbsp;&nbsp;</a>
  </li>

  <li>
    <a (click)="searchBooks()"
      ><i class="fas fa-book-open"></i>Search Books&nbsp;&nbsp;&nbsp;&nbsp;</a
    >
  </li>
  <li><a (click)="renewBook()">Renew Book&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a (click)="returnBook()">Return Book&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
  <li><a (click)="viewIssueDetails()">View Issue Details </a></li>

  <li style="margin-left: 30px">
    <a (click)="logout()"
      ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a
    >&nbsp;&nbsp;&nbsp;&nbsp;
  </li>
</ul>
