<app-admin-functions></app-admin-functions>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<body>
  <br /><br />
  <h2 align="center">Book Details</h2>

  <form novalidate [formGroup]="searchBookForm">
    <h6>
      <i class="fa fa-search icon"></i>Search Book
      <input
        type="text"
        placeholder="Enter Book Details"
        formControlName="value"
        [(ngModel)]="textValue"
        (keyup)="searchBook()"
      />
      <input
        [(ngModel)]="value"
        [ngModelOptions]="{ standalone: true }"
        [hidden]="true"
      />
    </h6>
  </form>
  <div>
    <br />
    <h5>Total entries of the table: {{ count }}</h5>
    <br />
    <div class="reglist">
      <div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ISBN</th>
              <th>Book Name</th>
              <th>Author Name</th>
              <th>Publisher</th>
              <th>Genre</th>
              <th>Volume</th>
              <th>Edition</th>
              <th>Status</th>
              <th>Delete</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody *ngIf="show">
            <tr *ngFor="let book of books | paginate: config">
              <td>
                {{ book.isbn }}
              </td>

              <td>
                {{ book.bookName }}
              </td>
              <td>
                {{ book.authorName }}
              </td>
              <td>
                {{ book.publisher }}
              </td>
              <td>
                {{ book.genre }}
              </td>
              <td>
                {{ book.volume }}
              </td>
              <td>
                {{ book.edition }}
              </td>
              <td>
                {{ book.status }}
              </td>
              <td *ngIf="book.status == 'Requested'">
                <button class="btn btn-secondary" [disabled]="true">
                  Delete
                </button>
              </td>
              <td *ngIf="book.status == 'Issued'">
                <button class="btn btn-secondary" [disabled]="true">
                  Delete
                </button>
              </td>
              <td *ngIf="book.status == 'Available'">
                <button
                  class="btn btn-primary"
                  (click)="deleteAlertConfirmation(book.bookId)"
                >
                  Delete
                </button>
              </td>
              <td>
                <button class="btn btn-dark" (click)="editBook(book.bookId)">
                  Edit
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <tr>
          <h3 style="margin-left: 500px">
            &nbsp;&nbsp;&nbsp;{{ errorMessage }}
          </h3>
        </tr>
        <tr *ngIf="show">
          <pagination-controls
            (pageChange)="pageChanged($event)"
          ></pagination-controls>
        </tr>
      </div>
    </div>
    <br />
  </div>
</body>
