<app-user-functions></app-user-functions>

<body>
  <br /><br />
  <div class="registration-form">
    <h3 align="center">Change Password</h3>
    <br /><br />

    <form
      novalidate
      style="margin-left: 430px; width: 450px"
      [formGroup]="passwordForm"
      (ngSubmit)="changeUserPassword()"
    >
      <fieldset>
        <br />

        <div class="form-group">
          <label>Old Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="password"
          />
        </div>

        <br />
        <div class="form-group">
          <label>New Password</label>
          <input
            type="password"
            class="form-control"
            formControlName="newPassword"
          />
          <div
            class="alert alert-danger"
            *ngIf="
              passwordForm.get('newPassword').hasError('required') &&
              passwordForm.get('newPassword').dirty
            "
          >
            New Password is required!
          </div>
        </div>
      </fieldset>
      <br />
      <td>
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="passwordForm.invalid"
        >
          Update
        </button>
      </td>
    </form>
  </div>
</body>
