<ul>
  <li>
    <a>Library<br />Management System</a>
  </li>
  <li style="margin-left: 20px">
    <a (click)="viewAdminProfile()"
      ><i class="fa fa-user-circle" aria-hidden="true"></i>My Profile&nbsp;
    </a>
  </li>
  <li>
    <a (click)="changeAdminPassword()"
      ><i class="fa fa-key" aria-hidden="true"></i>Change Password &nbsp;</a
    >
  </li>
  <li>
    <a (click)="viewUsers()"
      ><i class="fa fa-users" aria-hidden="true"></i>View Users&nbsp;
    </a>
  </li>

  <li>
    <a (click)="viewBooks()"
      ><i class="fas fa-book-open"></i>
      <i class="fa fa-book" aria-hidden="true"></i>View Books&nbsp;
    </a>
  </li>

  <li>
    <a (click)="addBooks()"
      ><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Book&nbsp;
    </a>
  </li>

  <li>
    <a (click)="viewRequest()"
      ><i class="fa fa-registered" aria-hidden="true"></i>View Request&nbsp;
    </a>
  </li>

  <li>
    <a (click)="viewIssuedDetails()"
      ><i class="fa fa-th-list" aria-hidden="true"></i>View Issued Details&nbsp;
    </a>
  </li>

  <li>
    <a style="margin-left: 50px" (click)="logout()"
      ><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a
    >&nbsp;
  </li>
</ul>
