<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
  crossorigin="anonymous"
/>

<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="bootstrap-show-password.min.js"></script>
<body>
  <div class="registration-form">
    <form
      #userForm="ngForm"
      (ngSubmit)="onLogin(userForm.value)"
      style="width: 450px"
    >
      <h1 class="h3 mb-3 fw-normal" align="center">Login</h1>

      <div class="form-floating">
        <label for="floatingInput">Username</label>
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="username"
          #username="ngModel"
          ngModel
          placeholder="Enter Username"
          required
        />
      </div>
      <div *ngIf="username.invalid && (username?.touched || username?.dirty)">
        <small *ngIf="username?.errors?.required" class="text-danger"
          >Username is required</small
        >
      </div>

      <div class="form-floating">
        <label for="floatingPassword">Password</label>

        <div class="input-group">
          <input
            type="password"
            [type]="hide ? 'text' : 'password'"
            class="form-control"
            id="floatingPassword"
            name="password"
            minlength="5"
            #password="ngModel"
            ngModel
            placeholder="Enter Password"
            required
            data-toggle="password"
          />

          <div class="input-group-append">
            <div class="input-group-text">
              <i
                (click)="hide = !hide"
                [ngClass]="hide ? 'fa fa-eye' : 'fa fa-eye-slash'"
              ></i>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="password.invalid && (password?.touched || password?.dirty)">
        <small *ngIf="password?.errors?.required" class="text-danger"
          >Password is required</small
        >
        <small *ngIf="password?.errors?.minlength" class="text-danger"
          >Password must be atleast 5 letters</small
        >
      </div>
      <td>
        <br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
          style="margin-left: 70px; width: 80px"
          class="btn btn-primary"
          type="submit"
          [disabled]="userForm.invalid"
        >
          Login
        </button>
        <br /><br /><br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="usersignup">
          Sign Up?</a
        >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="forgotpassword">Forgot Password?</a>&nbsp;&nbsp;
      </td>
    </form>
  </div>
</body>
